@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="sidebar">
    <h4>Admin</h4>
    <ul class="nav flex-column">

        <li class="nav-item">
            <a asp-controller="Dashboard" asp-action="Index">🏠 Inicio</a>
        </li>

        <li class="nav-item">
            <a asp-controller="Categorias" asp-action="Index">📂 Catálogos</a>
        </li>

        <li class="nav-item">
            <a asp-controller="Espacios" asp-action="Index">📍 Espacios</a>
        </li>

        <li class="nav-item">
            <a asp-controller="Eventos" asp-action="Index">🎉 Eventos</a>
        </li>

        <li class="nav-item">
            <a asp-controller="Talleres" asp-action="Index">🛠️ Talleres</a>
        </li>

    </ul>
</div>