@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Acceso denegado</h2>
<p>No tienes permisos para acceder a esta sección.</p>

<a asp-controller="Home" asp-action="Index">Volver al inicio</a>