@{
    ViewData["Title"] = "Home Page";
}

<!-- HERO -->
<section class="hero">
    <div class="hero-content">
        <h1>
            Bienvenido a los eventos que inspiran,<br>
            unen y mueven a nuestra comunidad.
        </h1>

        <p>
            En la alcaldía Tláhuac se realizan diferentes eventos y talleres.
            Conócenos y únete a nosotros.
        </p>
    </div>
</section>

<!-- ICONOS -->
<section class="iconos">

    <div class="icono">
        <a href="https://www.facebook.com/alcaldiatlahuacrenacemx" target="_blank">
            <i class="bi bi-facebook"></i>
        </a>
    </div>

    <div class="icono">
        <a href="https://maps.app.goo.gl/Sjqmp8v9VzdRk22Q7" target="_blank">

            <i class="bi bi-geo-alt"></i>
        </a>
    </div>
    <div class="icono">
        <a href="https://www.tlahuac.cdmx.gob.mx/?fbclid=IwY2xjawRlEVlleHRuA2FlbQIxMABicmlkETFySFJ0dlNpdzQxdENHZ2ZNc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHgeJ8Kj9m2nL9bD8kWvm9Z7LOngJYskoNXOuZR7fTyp2ckdiO7fpT66c9VhL_aem_J1y2ADtNujgMakv5Ox4u5w" target="_blank">
            <i class="bi bi-globe"></i>
        </a>
    </div>
</section>

<!-- PROGRAMAS -->
<section class="programas">
    <h3>PROGRAMAS DE LA ALCALDÍA TLÁHUAC</h3>

    <div class="cards">

        <div class="card-programa">
            
            <h4>Tláhuac por tu Salud</h4>
        </div>
        <li class="card-programa">
            <a class="nav-link text-dark" asp-area="" asp-controller="Eventos" asp-action="Index">Eventos</a>
        </li>

        <div class="card-programa">
           
            <h4>Actívate Tláhuac</h4>
        </div>

    </div>
</section>

<!-- CONTACTO -->
<section class="contacto">
    <h4>Contacto</h4>
    <p>Teléfono: 55 5862 3250</p>
    <p>Dirección: Av. Tláhuac s/n, esquina Nicolás Bravo</p>
</section>