
@model dynamic

<div class="mt-4 d-flex justify-content-end gap-2">
    <form asp-action="@Model.Action"
          asp-controller="@Model.Controller"
          method="post"
          class="d-inline">

        @Html.AntiForgeryToken()

        <input type="hidden" name="id" value="@Model.Id" />

        <button type="submit" class="btn btn-sm btn-dorado"
                onclick="return confirm('¿Desactivar este registro?')">
          Desactivar
        </button>



    </form>
</div>