@model IEnumerable<Sistema_Actividades_Tlahuac.Models.Catalogos.Categoria>
@using Sistema_Actividades_Tlahuac.Models.Enums;

@{
    ViewData["Title"] = "Categorias";
}
<partial name="_Header_Index" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <partial name="_Botones_Tablas" model="item.Id" />
                </td>
                <td>
                    @if (item.Estado == EstadoRegistro.Activo)
                    {
                        <span class="badge bg-success">Activo</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Inactivo</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
